html{
    font-family: "Helvetica", sans-serif
}

.header-name{
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: rgb(118, 63, 63);
    position: sticky;
    width: 100%;
    margin: -5px;
    top: 0;
}

li{
    display: inline-block;
}

li a{
    color: white;
    margin-right: 5px;
}

h2:hover{
    color: #72519b;
    transition: .3s ease-out;
}

.subtitle-header{
    margin-top: -20px;
}

.about-me-title{
    margin-top: 65px;
    margin-bottom: -35px;
}

.about-me{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.cat-gif{
    margin-bottom: -15px;
    padding-left: 10px;
}